<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">EDSystango Exam</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/cpp">CPP</a></li>
      <li><a href="/java">Java</a></li>
      <li><a href="/python">Python</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
     {% if request.user.is_authenticated is not True %}
     <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
     <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
     {%endif%}

     {% if request.user.is_authenticated is not False %}
     <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
     {%endif%}
   </ul>
  </div>
</nav>

{% block parentblock%}
{%endblock%}

>>>>>>>>>>>>>   {{request.user.is_authenticated}}

</body>
</html>
